.content {
    &__list {
        display: flex;
        margin: 0;
        padding: 50px 0;

    }

    &__item {
        width: 270px;
        margin: 0;
        list-style: none;
    }
    &__item + &__item {
        margin-left: 40px;
    }

    &__title {
        margin: 0;

    }

    &__top-link {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__top-dash {
        width: 25px;
        height: 2px;
        background-color: red;
        margin-right: 5px;
    }

    &__link {
        text-decoration: none;
        color:red;
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
    }

    &__link:hover {
        opacity: 0.8;
    }

    &__link:active {
        opacity:0.6;
    }
}
